<%= content_for :navbar_style, 'display: none' %>

<div class="hero hero-pattern">
	<%= render "layouts/shared/navbar" %>
	<div class="hero-cover jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">The Leader Board</h1>
			<p class="lead">Plataforma para criação de ranqueamenos de torneios</p>
		</div>
	</div>
</div>