.hero {
	height: 600px;
	color: white;
}

.hero-cover {
	background: transparent;
}

.hero-pattern {
	background-color: #e5cba9;
	background-image: url(asset_path("patterns/chalkboard.jpg"));
}

